html {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
body {

background: rgb(0, 0, 0);
font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 }

p {
  color: #b3b3b3;
  font-weight: 300;
   }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

.border {
   width: 280px;
   margin: 0 auto;
   padding: 10px;
}
.wrap {
   height: 100%;
   position: relative;
}
.product-wrap {
   position: relative;
}
.product-wrap:after {
   content: '';
   background: rgba(73, 102, 162, .5);
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   opacity: 0;
   transform: scale(.3);
   transition: .3s ease-in-out;
}
.border:hover .product-wrap:after {
   opacity: 1;
   transform: scale(1);
}
.product-wrap a {
   display: block;
   text-decoration: none;
}
.product-wrap img {
   display: block;
   width: 100%;
}
.loop-action {
   position: absolute;
   left: 50%;
   top: 50%;
   opacity: 0;
   transform: translate(-50%, -50%);
   transition: .3s ease-in-out;
}
.border:hover .loop-action {
   opacity: 1;
}
.loop-action a {
   text-decoration: none;
   display: block;
   border: 1px solid white;
   white-space: nowrap;
   text-transform: uppercase;
   padding: .5em 1em;
   font-size: 14px;
   line-height: 1.6;
   outline: none;
   position: relative;
   overflow: hidden;
   text-align: center;
   color: white;
   min-width: 160px;
   margin: 5px auto;
   transition: .3s ease-in-out;
}
.loop-action a:after {
   content: '';
   position: absolute;
   left: -220%;
   top: -500%;
   width: 140%;
   height: 1000%;
   transform: rotate(45deg);
   background: white;
   z-index: -1;
   transition: .3s ease-in-out;
}
.loop-action a:hover {
   color: black;
}
.loop-action a:hover:after {
   left: 0%;
}
.border:hover {
   border-color: #4966A2;
}
.product-info {
   padding-top: 15px;
}
.stars {
   font-size: 14px;
   font-family: FontAwesome;
}
.stars:before {
   content: "\f005\f005\f005\f005\f005";
   color: #F2453E;
}
.product-title {
   font-weight: normal;
   color: #162546;
   font-size: 18px;

}
.price {
   font-family: "Open Sans";
   color: #162546;
   font-style: italic;
   font-weight: bold;
}
.thumb img {
            -webkit-filter: grayscale(0);
            filter: none;
            border-radius: 5px;
            background-color: #FFFFFF;
            border: 1px solid #000000;
            padding: 1px;

              width: 100%;
              height: 200px !important;
              margin: 0 auto;
}
        }


        .thumb {
            padding: 5px;

        }


.colorn   {
    background: #000;
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-radius: 10px;
}

 nav ul {
  list-style: none;

  margin: 0;
  padding: 0;
}
nav a {
  display: block;
  text-decoration: none;
  outline: none;
  transition: .4s ease-in-out;
}

@media (min-width: 767px){
 .wrapper ul li a {
  font-size: calc(16px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
   display: block;

 }
}

.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  /* clip-path: circle(25px at calc(0% + 45px) 45px); */
   background: #000;
  clip-path: circle(10px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
  Z-index: 1;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
}
.menu-btn{
  position: fixed;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  background: #000;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  color: #fff;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  margin: 15px 0;
}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: calc(14px + 16 * (100vw / 1280));
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  display: block;
  white-space: nowrap;
  border-radius: 50px;
  background: #000;
  position: relative;
  line-height: 35px;
  transition: all 0.3s ease;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
   background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; /* if the font is 'Oswald'*/
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #fff;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

.center-element {
position: absolute;
top: 45%;
left:50%;
transform: translate(-50%,-50%);
color: #FFFFFF;
width: 100%;
display: block;
text-shadow: 3px 3px 3px #000000;

}
hr {
    color: #e50914;
}

footer {
  background: #000000;
  color: #9370DB;
  padding-top: 10px;

}

footer a {
  color: #aaa;

}

footer a:hover {
  color: #fff;
}

footer h3 {
  color: #e50914;
  letter-spacing: 1px;
  margin: 30px 0 20px;


}

footer .three-column {
  overflow: hidden;
}

footer .three-column li{
  width: 33.3333%;
  float: left;
  padding: 5px 0;
}

footer .socila-list {
  overflow: hidden;
  margin: 20px 0 10px;
}

footer .socila-list li {
  float: left;
  margin-right: 3px;
  opacity: 0.7;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;

}

footer .socila-list li:hover {
  opacity: 1;
}

footer .img-thumbnail {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #444;
  margin-bottom: 5px;
}

footer .copyright {
  padding: 15px 0;
  background: #000000;
  margin-top: 20px;
  font-size: 15px;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    background: #000000;
    width: 100%;
    height: 100%;
    z-index: 1001;

}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loaded_hiding #preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded #preloader {
  display: none;
}

.element-animation {

  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
}