{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>{% block title %} {{ title }} {% endblock title %}</title>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <!-- Bootstrap icons-->
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">



    </head>
    <body>
        <!-- Navigation-->

      {% include 'inc/_nav.html' %}

        <!-- Header-->
        {% include 'inc/_header.html' %}
<!--        <hr class="hr-shelf">-->
        <!-- Section-->
        {% block section %}
       {% include 'main/card.html' %}

        {% endblock section %}
        <!-- Footer-->
        {% include 'inc/_footer.html' %}
        <!-- Bootstrap core JS-->
            <script src="{% static 'bootstrap/js/jquery-3.3.1.min.js' %}"></script>
            <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>

            <script src="{% static 'bootstrap/js/jquery.sticky.js' %}"></script>

         <script src="{% static 'bootstrap/js/main.js' %}"></script>
         <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <!-- Core theme JS-->

    </body>
</html>
