
{% block section %}
 <section class="py-5">

      <div class="justify-content-center row text-center text-lg-left">
     {% for item in products %}

<div class="col-lg-3 col-md-6 col-12 thumb mb-5 element-animation">
<div class="border">
  <div class="wrap">
    <div class="product-wrap">
        {% if item.image %}
      <a href=""><img src="{{ MEDIA_URL }}{{ item.image.url}}"></a>
        {% endif %}
    </div>
    <div class="loop-action">
      <a href="{{ item.get_absolute_url }}" class="add-to-cart">Описание товара</a>

    </div>
  </div>
    <div class="product-info">
      <div class="stars"></div>
      <h3 class="product-title text-white">{{ item.name }}</h3>
      <div class="price text-white">&#8381; {{ item.price }}</div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><button type="button" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#exampleModal{{ item.id }}">Сделать заказ</button></div>

        </div>
    </div>
</div>

</div>
<!-- Модальное окно -->

{% endfor %}
   </div>
        </section>
{% endblock section %}

