{% extends 'base.html' %}
{% block title %} Категории {% endblock title %}
{% block header %}
<header class="py-5" style="">


<div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
         <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                   <h1 class="display-4 fw-bolder">MOONSHINE</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Магазин бижутерии с богатым выбором уникальных товаров</p>
                     <p class="lead fw-normal text-white-50 mt-5"><span style="color: #e50914;">Важно:</span> Оплата заказа при получении</p>
                </div>
            </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
     <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">MOONSHINE</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Наши товары подходят всем</p>
                     <p class="lead fw-normal text-white-50 mt-5"><span style="color: #e50914;">Важно:</span> Оплата заказа при получении</p>
                </div>
            </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">MOONSHINE</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Каждый найдет что-то для себя</p>
                     <p class="lead fw-normal text-white-50 mt-5"><span style="color: #e50914;">Важно:</span> Оплата заказа при получении</p>
                </div>
            </div>
    </div>
  </div>
</div>

</header>
{% endblock %}