{% load static %}
<footer>
  <div class="container">
  <div class="row">

  <div class="col-lg-4 col-md-6">
  <h3>Карта сайта</h3>
  <ul class="list-unstyled three-column">
  <li><a style="text-decoration: none;" href="{% url 'home' %}">Главная</a></li>
  <li><a style="text-decoration: none;" href="{% url 'contacts' %}">Контакты</a></li>
<!--  <li><a style="text-decoration: none;" href="/">О нас</a></li>-->

  </ul>

  </div>

  <div class="col-lg-4 col-md-6">
  <h3>Категории товара</h3>
    {% for item in categories %}


  <div class="media-body">

 <a style="text-decoration: none;" href="{{ item.get_absolute_url }}"> <h4 class="media-heading mt-3" style="font-size: 20px;">{{ item.name }}</h4></a>

  </div>

   {% endfor %}


  </div>

  <div class="col-lg-4">
  <h3>Наши товары</h3>
      <img class="img-thumbnail" src="{% static 'img/123.jpg' %}" alt=""/>
      <img class="img-thumbnail" src="{% static 'img/124.jpg' %}" alt=""/>
      <img class="img-thumbnail" src="{% static 'img/123.jpg' %}" alt=""/>
      <img class="img-thumbnail" src="{% static 'img/124.jpg' %}" alt=""/>
      <img class="img-thumbnail" src="{% static 'img/123.jpg' %}" alt=""/>
      <img class="img-thumbnail" src="{% static 'img/124.jpg' %}" alt=""/>
  </div>

  </div>
    <hr>
  </div>
  <div class="copyright text-center">
 MOONSHINE 2021
  </div>
</footer>