<nav class="colorn navbar sticky-top navbar-dark" style="z-index: 1;">

  <div class="container-fluid">
    <a class="navbar-brand" style="font-size: 30px; color: #e50914; font-weight: bold; font-style: oblique;" href="#">MoonShine</a>


    <form class="d-flex" style="margin-left: auto;
    margin-right: auto;" action="{% url 'search' %}" method="get">
        <input name="s" class="form-control me-2" type="search" placeholder="Поиск..." aria-label="Search">
          <button id="search-button" type="button" class="btn" style="color: #e50914;">
    <i class="fas fa-search"></i>
  </button>
      </form>

  </div>

</nav>