<nav class="colorn navbar navbar-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="border: 2px #4169E1 solid; box-shadow: 0 0 10px #444;border-radius: 10px; padding: 3px;">Магазинчик</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="topmenu navbar-nav me-auto mb-2 mb-lg-0">
    <li><a href="">Главная</a></li>

    <li><a href="" class="dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Товары</a>
      <ul class="submenu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/">Все товары</a></li>
        <li><hr class="dropdown-divider" /></li>

        {% for item in categories %}

        <li><a class="dropdown-item" href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>

        {% endfor %}

      </ul>
    </li>

    <li><a href="">О нас</a></li>
      </ul>

      <form class="d-flex" action="{% url 'search' %}" method="get">
        <input name="s" class="form-control me-2" type="search" placeholder="Поиск..." aria-label="Search">
        <button class="btn btn-outline-danger" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>
